<IfModule mod_rewrite.c>
AddType text/cache-manifest .appcache
RewriteEngine on
#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|js|images|_files|robots\.txt|plugins|jui|gallery|vendors|assets)
RewriteRule ^(.*)$ ./index.php/$1 [L]
Options All -Indexes 
php_value memory_limit 8064M
</IfModule>
