.datetimepicker .disabled,
.datetimepicker .disabled:hover
    background: none
    color: #ebebeb
    cursor: default

.datetimepicker .current,
.datetimepicker .current:hover,
.datetimepicker .current.disabled,
.datetimepicker .current.disabled:hover
    background-color: #e5e5e5

.datetimepicker .active:hover,
.datetimepicker .active:hover:hover,
.datetimepicker .active.disabled:hover,
.datetimepicker .active.disabled:hover:hover,
.datetimepicker .active:active,
.datetimepicker .active:hover:active,
.datetimepicker .active.disabled:active,
.datetimepicker .active.disabled:hover:active,
.datetimepicker .active.active,
.datetimepicker .active:hover.active,
.datetimepicker .active.disabled.active,
.datetimepicker .active.disabled:hover.active,
.datetimepicker .active.disabled,
.datetimepicker .active:hover.disabled,
.datetimepicker .active.disabled.disabled,
.datetimepicker .active.disabled:hover.disabled,
.datetimepicker td.active[disabled],
.datetimepicker td.active:hover[disabled],
.datetimepicker td.active.disabled[disabled],
.datetimepicker td.active.disabled:hover[disabled],
.datetimepicker span.active[disabled],
.datetimepicker span.active:hover[disabled],
.datetimepicker span.active.disabled[disabled],
.datetimepicker span.active.disabled:hover[disabled]
    background-color: #04c

.datetimepicker .table td,
.datetimepicker .table th
    border: 0
    border-radius: 4px
    height: 20px
    text-align: center

.datetimepicker .past,
.datetimepicker .future
    color: #999

.datetimepicker .active,
.datetimepicker .active:hover,
.datetimepicker .active.disabled,
.datetimepicker .active.disabled:hover
    background-color: #04c
    background-image: linear-gradient(to bottom, #08c, #04c)
    background-repeat: repeat-x
    border-color: #04c #04c #002a80
    color: #fff
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)

.datetimepicker
    border-radius: 4px
    direction: ltr
    display: block
    margin-top: 1px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    width: 320px
    span
        border-radius: 4px
        cursor: pointer
        display: block
        float: left
        height: 54px
        line-height: 54px
        margin: 1%
        width: 23%
        &:hover
            background: #eee
    .table
        margin: 0
    & > div
        display: none

.datetimepicker .minute:hover,
.datetimepicker .hour:hover,
.datetimepicker .day:hover,
.datetimepicker .switch:hover,
.datetimepicker .left:hover,
.datetimepicker .right:hover
    background: #eee
    cursor: pointer

.datetimepicker .hour,
.datetimepicker .minute
    height: 34px
    line-height: 34px
    margin: 0
    width: 25%

