////////////////////////////////////////////////////////////
// Import everything to generate your animate stylus module //
////////////////////////////////////////////////////////////
@import "helpers/settings"
@import "helpers/base"

// ATTENTION
@import	"animations/attention-seekers/*"

// BOUNCE
@import "animations/bounce-enter/*"
@import "animations/bounce-exit/*"

// FADE
@import	"animations/fade-enter/*"
@import	"animations/fade-exit/fadeOut"
//@import	"animations/fade-exit/*" TODO refactor code

// FLIP
//@import "animations/flippers/*" TODO refactor code

// LIGHTSPEED
//@import	"animations/lightspeed/*" TODO refactor code

// ROTATE
//@import	"animations/rotate-enter/*" TODO refactor code
//@import	"animations/rotate-exit/*"

// SLIDE
@import "animations/slide-enter/*"
@import "animations/slide-exit/*"

// SPECIAL
//@import "animations/special/*" TODO refactor code

// ZOOM
//@import "animations/zoom-enter/*" TODO refactor code
//@import "animations/zoom-exit/*"
